{% extends "proj_app/site_base.html" %}

{% block page_title %}
  Homepage
{% endblock %}

{% block page_heading %}
  <h1>Homepage</h1>
{% endblock %}

{% block main_body %}
<section>
    <p>Welcome to the Interactive Thesis Management Project</p>
    
    <p>At Charles Darwin University, we are dedicated to enhancing the educational experience for our Master of Information Technology students. Our new Interactive Thesis Management web application is set to facilitate the way thesis projects are coordinated, supervised, and managed seamlessly.</p>

    <p>Designed to replace the current inefficient system that relies heavily on emails, spreadsheets, and Word documents, this dynamic platform offers a streamlined, user-friendly solution for students, supervisors, and unit coordinators alike. Our application, developed using Django, aims to eliminate redundant tasks, reduce errors, and foster better communication and collaboration.</p>

    <p><b>Key Features:</b></p>
    <ul>
        <li>Thesis Topic Management: Supervisors can easily add, update, and request the removal of thesis topics, while unit coordinators can efficiently review and approve changes.</li>
        <li>Project Applications: Students can apply for thesis projects as groups, with clear visibility of each topic's capacities, and receive timely feedback through the system.</li>
        <li>Automated Record-Keeping: Approved applications are automatically recorded, ensuring seamless organization and accessibility.</li>
    </ul>

    <p><b>Benefits:</b></p>
    <ul>
        <li>Enhanced Efficiency: Automated processes reduce manual tasks and errors, allowing stakeholders to focus on academic guidance.</li>
        <li>Improved Communication: A shared platform fosters transparent communication and collaboration.</li>
        <li>Accessibility: The web-based application provides convenient access from anywhere, at any time.</li>
        <li>Data Integrity: Secure data storage and access controls protect sensitive information.</li>
    </ul>
</section>
{% endblock %}
