{% extends "proj_app/site_base.html" %}

{% block page_title %}
    List Groups
{% endblock %}

{% block page_heading %}
  <h1>List Groups</h1>
{% endblock %}

{% block main_body %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Number of Students</th>
                {% if request.user.user_type == 'student' %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.email }}</td>
                    <td>{{ group.students.count }}</td>
                    {% if request.user.user_type == 'student' %}
                        <td><a href="{% url 'enroll_in_group' group.pk %}">Enroll</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
