{% extends "proj_app/site_base.html" %}

{% block page_title %}
    Student Registration
{% endblock %}

{% block page_heading %}
  <h1>Student Registration: {{ topic.title }}</h1>
{% endblock %}

{% block main_body %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
